<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Ceylon Servlet</display-name>

    <servlet>
        <servlet-name>CeylonServlet</servlet-name>
        <servlet-class>com.redhat.ceylon.servlet.CeylonServlet</servlet-class>
        <init-param>
            <param-name>ceylon-main-module</param-name>
            <param-value>${ceylon-main-module}</param-value>
        </init-param>
        <init-param>
            <param-name>ceylon-main-runnable</param-name>
            <param-value>${ceylon-main-runnable}</param-value>
        </init-param>
        <init-param>
            <param-name>ceylon-runtime-repository</param-name>
            <param-value>${jboss.home.dir}ceylon-repo</param-value>
        </init-param>
        <init-param>
            <param-name>ceylon.repo</param-name>
            <param-value>~/.ceylon</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>CeylonServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>